* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: initial;
}

body{
	background-color: #000000;
}
.carousel-inner{
	padding: auto;
	height: 627px;
}

p{
	margin: 20px;
	text-align: center;
	text-anchor: 10px;
	font-size: 30px;
}

.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#454545;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:13px;
}